{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Take your Tickets</h1>
        <div class="row my-3 col-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-success">{{ button_label|default('Validate') }}</button>
            {{ form_end(form) }}
        </div>
        {% for ticket in tickets %}
            <div class="card bg-light mb-5">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="card-body">
                            <h5 class="card-title mb-5 text-center">{{ ticket.performance }}</h5>
                            <p class="card-text">{{ ticket.ageRange }}</p>
                            <p class="card-text">{{ ticket.quantity }}</p>
                            <p><strong>Total:</strong> {{ (ticket.ageRange.price * ticket.performance.price / 100) * ticket.quantity }}€</p>
                            <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="btn btn-warning mt-2 button-form"><i class="fas fa-edit"></i></a>
                            {{ include('ticket/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-success" href="{{ path('order_validation') }}">Valid your order </a>
    </div>
{% endblock %}